//HEADER

#allPage{
	width: 100%;
	text-align: center;
	background-image: url("../images/sprite.png");
	@include sprite($bg-home);
}

.menu{
	margin: 0px;
	padding: 4px 0 0 240px;
	li{
		float: left;
		display: inline-block;
		padding: 0 10px;
	}
}

.menu__home a{
	background-image: url("../images/sprite.png");
	@include sprite($btn-home);
	&:hover{
		@include sprite($btn-home_hover);
	}
}

.menu__gallery a{
	background-image: url("../images/sprite.png");
	@include sprite($btn-gallery);
	&:hover{
		@include sprite($btn-gallery_hover);
	}
}

.menu__official a{
	background-image: url("../images/sprite.png");
	@include sprite($btn-official);
	&:hover{
		@include sprite($btn-official_hover);
	}
}

.p-1{
	margin-top: 410px;
	padding: 0 50px;
}

.p-2{
	margin-top: 38px;
	float: right;
	width: 68%;
	p{
		text-align: right;
		padding: 0 60px 0 20px;
		margin-bottom: 0;
	}
}

.p-3{
	padding: 0 30px;
}

// STAGE
#stage{
	margin-top: 0px;
	background-image: url("../images/sprite.png");
	@include sprite($canvasbg);
	.preview{
		margin-top: 22px;
		padding-left: 65px;
		text-align: left;
		a{
			color: $magenta;
			font-weight: 600;
			font-size: 1.6em;
			letter-spacing: 0.01em;
			&:hover{
				color: $orange;
			}
		}
	}
}

#stage-menu{
	margin: 100px 0 0 0;
	padding: 0;
}

.menu-stage{
	margin: 0;
	margin-bottom: -20px;
	text-align: right;
	padding-right: 90px;
	li{
		margin: 0;
	padding: 0;
		display: inline-block;
	}
}

.menu-stage__1 a{
	background-image: url("../images/sprite.png");
	@include sprite($btn-scene1);
	&:hover{
		@include sprite($btn-scene1_hover);
	}
}

.menu-stage__2 a{
	background-image: url("../images/sprite.png");
	@include sprite($btn-scene2);
	&:hover{
		@include sprite($btn-scene2_hover);
	}
}

.menu-stage__3 a{
	background-image: url("../images/sprite.png");
	@include sprite($btn-scene3);
	&:hover{
		@include sprite($btn-scene3_hover);
	}
}

#stage-top{
	padding: 0;
	margin: 0 0 0 25px;
}

#scenes{
	padding: 100px 0 0 5px;
	margin: 0;
	li{
		display: block;
		margin: 5px;
	}
}

.menu-scenes{
	padding: 0;
	a{
		background-color: #fff;
		@include box-shadow(2px, 2px, 4px, rgba(0, 0, 0, 0.2));
		opacity: 0.9;
		&:hover{
			opacity: 1;
		}
	}
}

.menu-scenes__purple{
	background-image: url("../images/sprite.png");
	@include sprite($stage-scenes-purple-btn);
}

.menu-scenes__orange{
	background-image: url("../images/sprite.png");
	@include sprite($stage-scenes-orange-btn);
}

.menu-scenes__green{
	background-image: url("../images/sprite.png");
	@include sprite($stage-scenes-green-btn);
}

.menu-scenes__blue{
	background-image: url("../images/sprite.png");
	@include sprite($stage-scenes-blue-btn);
}

#stage-bottom{;
	padding: 0;
	margin-bottom: 95px;
}

.menu-characters{
	margin: 0px;
	padding: 0 0 0 150px;
	li{
		float: left;
	}
	a{
		opacity: 0.9;
		&:hover{
			opacity: 1;
		}
	}
}

.menu-characters__sully{
	background-image: url("../images/sprite.png");
	@include sprite($characters-btn-Sully);
}

.menu-characters__buzz{
	background-image: url("../images/sprite.png");
	@include sprite($characters-btn-Buzz);
}

.menu-characters__captainJack{
	background-image: url("../images/sprite.png");
	@include sprite($characters-btn-CaptainJack);
}

// CANVAS

#canvas{
	margin-left: 20px;
	background-image: url("../images/sprite.png");
	@include sprite($canvas);
}

#ui-canvas{
	
}

.bg-scene{
	margin: -5px;
}

.bg-scene__purple{
	background-image: url("../images/sprite.png");
	@include sprite($stage-scenes-purple);
}

.bg-scene__orange{
	background-image: url("../images/sprite.png");
	@include sprite($stage-scenes-orange);
}

.bg-scene__green{
	background-image: url("../images/sprite.png");
	@include sprite($stage-scenes-green);
}

.bg-scene__blue{
	background-image: url("../images/sprite.png");
	@include sprite($stage-scenes-blue);
}

// TEXT INPUT

#text-input{
	text-align: left;
	padding: 27px 0 0 55px; 
	textarea{
		resize: none;
		font-size: 0.8em;
		border: none;
		width: 330px;
		height: 70px;
		background-color: transparent;
	}
}

.add-text a{
	float: right;
	margin: -25px 70px 0 0; 
	background-image: url("../images/sprite.png");
	@include sprite($btn-addText);
	&:hover{
		@include sprite($btn-addText_hover);
	}
}
