$btn-gallery: -0px -0px 120px 26px;
$btn-gallery_hover: -0px -26px 120px 26px;
$btn-home: -0px -52px 78px 26px;
$btn-home_hover: -0px -78px 78px 26px;
$btn-official: -0px -104px 180px 26px;
$btn-official_hover: -0px -130px 180px 26px;
$btn-addText_hover: -0px -156px 114px 39px;
$btn-addText: -0px -195px 114px 39px;
$btn-scene1: -0px -234px 116px 42px;
$btn-scene3_selected: -0px -276px 117px 42px;
$btn-scene3_hover: -0px -318px 117px 42px;
$btn-scene2_selected: -0px -360px 117px 42px;
$btn-scene1_hover: -0px -402px 116px 42px;
$btn-scene1_selected: -0px -444px 116px 42px;
$btn-scene2: -0px -486px 117px 42px;
$btn-scene2_hover: -0px -528px 117px 42px;
$btn-scene3: -0px -570px 117px 42px;
$stage-scenes-blue-btn: -0px -612px 135px 69px;
$stage-scenes-green-btn: -0px -681px 135px 69px;
$stage-scenes-orange-btn: -0px -750px 135px 69px;
$stage-scenes-purple-btn: -0px -819px 135px 69px;
$btn-find: -0px -888px 309px 85px;
$btn-find_hover: -0px -973px 308px 86px;
$characters-btn-Helen: -0px -1059px 52px 88px;
$characters-btn-Woody: -0px -1147px 48px 88px;
$characters-btn-CaptainJack: -0px -1235px 52px 88px;
$characters-btn-Mike: -0px -1323px 63px 88px;
$characters-btn-Buzz: -0px -1411px 64px 88px;
$characters-btn-Sully: -0px -1499px 101px 88px;
$stage-scenes-purple: -0px -1587px 668px 317px;
$stage-scenes-orange: -0px -1904px 668px 317px;
$stage-scenes-green: -0px -2221px 668px 317px;
$stage-scenes-blue: -0px -2538px 668px 317px;
$canvas: -0px -2855px 688px 336px;
$canvasbg: -0px -3191px 948px 838px;
$bg-home: -0px -4029px 948px 1683px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon {
  background-image: url("../images/sprite.png");
}