$btn-gallery: -0px -0px 120px 26px;
$btn-gallery_hover: -0px -26px 120px 26px;
$btn-home: -0px -52px 78px 26px;
$btn-home_hover: -0px -78px 78px 26px;
$btn-official: -0px -104px 180px 26px;
$btn-official_hover: -0px -130px 180px 26px;
$btn-addText: -0px -156px 114px 39px;
$btn-addText_hover: -0px -195px 114px 39px;
$btn-scene2: -0px -234px 117px 42px;
$btn-scene3: -0px -276px 117px 42px;
$btn-scene1: -0px -318px 116px 42px;
$btn-scene1_hover: -0px -360px 116px 42px;
$btn-scene1_selected: -0px -402px 116px 42px;
$btn-scene3_selected: -0px -444px 117px 42px;
$btn-scene2_hover: -0px -486px 117px 42px;
$btn-scene2_selected: -0px -528px 117px 42px;
$btn-scene3_hover: -0px -570px 117px 42px;
$stage-scenes-purple-btn: -0px -612px 135px 69px;
$stage-scenes-blue-btn: -0px -681px 135px 69px;
$stage-scenes-green-btn: -0px -750px 135px 69px;
$stage-scenes-orange-btn: -0px -819px 135px 69px;
$characters-btn-Buzz: -0px -888px 64px 88px;
$characters-btn-CaptainJack: -0px -976px 52px 88px;
$characters-btn-Helen: -0px -1064px 52px 88px;
$characters-btn-Mike: -0px -1152px 63px 88px;
$characters-btn-Sully: -0px -1240px 101px 88px;
$characters-btn-Woody: -0px -1328px 48px 88px;
$stage-scenes-blue: -0px -1416px 668px 317px;
$stage-scenes-orange: -0px -1733px 668px 317px;
$stage-scenes-green: -0px -2050px 668px 317px;
$stage-scenes-purple: -0px -2367px 668px 317px;
$canvas: -0px -2684px 688px 336px;
$canvasbg: -0px -3020px 948px 838px;
$bg-home: -0px -3858px 948px 1683px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon {
  background-image: url("../images/sprite.png");
}