$btn-official: -0px -0px 180px 26px;
$btn-gallery: -0px -26px 120px 26px;
$btn-gallery_hover: -0px -52px 120px 26px;
$btn-home: -0px -78px 78px 26px;
$btn-home_hover: -0px -104px 78px 26px;
$btn-official_hover: -0px -130px 180px 26px;
$stage-scenes-purple-btn: -0px -156px 135px 69px;
$stage-scenes-orange-btn: -0px -225px 135px 69px;
$stage-scenes-green-btn: -0px -294px 135px 69px;
$stage-scenes-blue-btn: -0px -363px 135px 69px;
$characters-btn-Sully: -0px -432px 101px 88px;
$characters-btn-Buzz: -0px -520px 64px 88px;
$characters-btn-CaptainJack: -0px -608px 52px 88px;
$stage-scenes-blue: -0px -696px 668px 317px;
$stage-scenes-purple: -0px -1013px 668px 317px;
$stage-scenes-green: -0px -1330px 668px 317px;
$stage-scenes-orange: -0px -1647px 668px 317px;
$canvas: -0px -1964px 688px 336px;
$canvasbg: -0px -2300px 948px 838px;
$bg-home: -0px -3138px 948px 1683px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon {
  background-image: url("../images/sprite.png");
}