// fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

// Mixins

@mixin box-shadow($top, $left, $blur, $color){
	-webkit-box-shadow: $top $left $blur $color;
	-moz-box-shadow: $top $left $blur $color;
	box-shadow: $top $left $blur $color;
}

@mixin gradient{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c52646+0,f36b2b+100 */
	background: #c52646; /* Old browsers */
	background: -moz-linear-gradient(top,  #c52646 0%, #f36b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c52646), color-stop(100%,#f36b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c52646 0%,#f36b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c52646 0%,#f36b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c52646 0%,#f36b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c52646 0%,#f36b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c52646', endColorstr='#f36b2b',GradientType=0 ); /* IE6-9 */
}