doctype html

html(lang='en')

	head
		meta(charset='utf-8')
		meta(name='description', content='Disney')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='autor', content='Mario Iglesias - @marioip')

		title Disney Infinity

		link(rel='stylesheet', href='css/main.css')

	body

		header#header
			div.container
				ul.menu
					li.menu__home
						a(href='http://google.com')
					li.menu__gallery
						a(href='http://google.com')
					li.menu__officialSite
						a(href='http://google.com')