doctype html

html(lang='en')

	head
		meta(charset='utf-8')
		meta(name='description', content='Disney')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='autor', content='Mario Iglesias - @marioip')

		title Disney Infinity

		link(rel='stylesheet', href='css/main.css')

	body

		h1 Disney Infinity