doctype html

html(lang='en')

	head
		meta(charset='utf-8')
		meta(name='description', content='Disney')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='autor', content='Mario Iglesias - @marioip')

		title Disney Infinity

		link(rel='stylesheet', href='css/main.css')

		script(type="text/javascript", src="js/js-libraries.js")

	body(onload="app.init();")

		div#allPage.container

			// HEADER
			header#header.row
				// Menu
				div.col-12
					ul.menu
						li.menu__home
							a(href='http://google.com' alt="google" target="_blank")
						li.menu__gallery
							a(href='http://google.com' alt="google" target="_blank")
						li.menu__official
							a(href='http://google.com' alt="google" target="_blank")

				div.col-12
					div.p-1
						p Introducing <a href="https://infinity.disney.com/en-gb/home" alt="Disney Infinity" title="Disney Infinity">Disney Infinity</a> - the new video game where a spark of imagination unlocks the freedom to play with some of your favorite Disney characters and worlds like never before! Woody and Buzz, Jack Sparrow, The Increibles, Sully and Mike, Lightning McQueen and many more yours to command as you create your epic Disney adventures!

				div.col-12
					div.p-2
						p Set the scene, the characters and tell us what's happening to earn loads of swapits plus a chance to win a <strong>Nintendo 3DS!</strong> Drag and drop on the canvas below and make up to 4 scenes for your story! Each scene will give you even more swapits!

			// MAIN
			div#stage.row

				div#stage-top.col-12
					div#scenes.col-2
						ul.menu-scenes
							li.menu-scenes__purple(data-scene="purple") &nbsp;
							li.menu-scenes__orange(data-scene="orange") &nbsp;
							li.menu-scenes__green(data-scene="green") &nbsp;

					div#canvas.col-10
						<canvas id="ui-canvas" width="660px" height="305px"></canvas>

				div#stage-bottom.col-12
					div#characters.col-6
						ul.menu-characters
							li.menu-characters__sully(data-character="Sully") &nbsp;
							li.menu-characters__buzz(data-character="Buzz") &nbsp;
							li.menu-characters__captainJack(data-character="CaptainJack") &nbsp;

					div#add-text.col-6
						p hola

				div.col-12
					div.col-8
						div.p-3
							p Click <strong>"preview"</strong> to make sure you're happy with it and if you are, submit it for entry into the competition and you could be in with a chance of winning a <strong>Nintendo 3DS, Disney Infinity Starter Pack</strong> and <strong>5,000 swapits!</strong>
					div.col-4.preview
						a(href='' alt='Preview' title='Preview') PREVIEW

		script(type="text/javascript", src="js/main.js")
